// Place all the styles related to the splitwises controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.analytics-left {
  float:left;
  width:auto;
}

.analytics-mid {
  float:left;
  width:auto;
}

.analytics-mid-inner {
  float:left;
  width:auto;
  margin-left:35px;
}
.card-block {
	max-width: 100%;
}
